---
import Layout from "../../layouts/Layout.astro";
export const pageTitle = "Project 1 Proposal";
---

<Layout title={pageTitle}>
  <h1>Project One Proposal</h1>

  <p>
 Marvel Rivals Cross Hairs
 Music Reccomendations 
 Band Website for friend 
  </p>
  <pre><code>&lt;Layout compact title="Page Title"&gt;</code></pre>
  <p>
    
</Layout>

<style>
  h1 {
    color: blue;
  }
</style>