---
import Layout from "../../layouts/Layout.astro";
export const pageTitle = "Project 1 Proposal";
import{Content as SampleContent} from "/workspaces/maddie-dw2/src/components/markdown/project1-proposal.md";
---

<Layout title={pageTitle}>
  <h3>Project One Proposal</h3>


  <pre><code>&lt;Layout compact title="Page Title"&gt;</code></pre>
  <p>
  
  <SampleContent/>
    

</Layout>

<style>
  h3{
    color: blue;
  }
</style>