---
import Layout from "../layouts/Layout.astro";
import Button from "@components/Button.astro";
import Frame from "@components/frame.astro";
import Whatsnew from "@components/Whatsnew.astro";
import Accordion from "@components/Accordion.astro";
import{Content as SampleContent} from "../components/markdown/sample-content.md"
---

<Layout title="Home">
  <h1>Welcome!</h1>
  <p>Visit my <a href="https://purrvanaa.netlify.app/"> purrvanaa </a> Website about Siamese Cats</p>
  <Button />
<Frame>
<p>difhehfuhefhenifefhehfheuifhehfuheufheihfuenvhvuhdggrrigru</p>
</Frame>
   
  
  <p>This is your Design for the Web 2 starter site.</p>
  <p>
    Feel free to start editing this page in <code>src/pages/index.astro</code>
  </p>

  <Whatsnew>
    <h3> trying to lock in xd</h3>
  </Whatsnew>
  
  <Accordion title="Sample Accordion">
    <p> yippe </p> 
    <h3> mew</h3>

  </Accordion>
  <SampleContent>
    
  </SampleContent>

</Layout>
