---

---
<div class="news">
    <h3>What's New?</h3>
<p>astro keeps trolling me</p>
</slot>

</div>

<style> 
.news{
    border: 5px dashed purple;
    margin: 16px;
    max-width: 800px;
    height: 300px;
    padding: 20px;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 158, 247);
    text-align: center;
  
}
h3 p{
    margin: 0;
    background-color: ;
    justify-content: center;
    font-size: 35px;

}

</style>